.vs {
	text-align: center;
	font-size:25px;
	font-color: blue;

}


.outline {
	/*outline-style: solid;
	outline-color: green;
*/
}

@media (min-width: 768px) { 
	.col-md-half {
	   @extend .col-md-1;
	   /*width: percentage((0.5 / $grid-columns));*/
	   color: blue;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
	.col-md-half {
	   @extend .col-md-1;
	}

}

.grid-box {
	height: 100%;
	background-color: #eee;
}

.grid-row {

	min-height: 90px;
}

/*used for grid cells in which the content should be vertically centered*/
.vcenter {
	display: table;
	width: 100%;
}

div.vcenter p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;	
}

#title {
	text-align:center;
	margin-bottom: 50px;
}

.centimg {
    margin: auto;
    width: 50%;
}

.field {
	font-weight: bold;

}

p {
	font-size: 18px;

}

.icon {

	width: 200px;
	max-width: 100%;
	

}
/*nav {
	background-color: #2389ff;

}*/

